<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right active">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li class="page-scroll">
            <a href="#portfolio">Users</a>
        </li>
        <li class="page-scroll">
            <a href="#about">About</a>
        </li>
        <li class="page-scroll">
            <a href="#contact">Contact</a>
        </li>
        <li class="page-scroll">
            <a href="{{ path('article_list') }}">Articles</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a  href="{{ path('logout') }}">Logout</a></li>
        {% else %}
            <li><a  href="{{ path('login') }}">Login</a></li>
        {% endif %}
    </ul>
</div>